/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.eventtext
{
  color: #420908;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.maincard{
  max-width: 90%;
  margin: 0 auto;
  margin-top: 9rem;
  text-align: center;
}



.maincard img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  height: 15rem;
  text-align: center;
}

.maincard .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.maincard .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}


  

.maincard .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.maincard .cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .maincard .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
    .maincard .cards_item {
    width: 33.3333%;
  }
}

.maincard .card {
  background-color: white;
  border-radius: 0.25rem;

  box-shadow: 0 20px 40px -14px #420908;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.maincard .card_content {
  padding: 1rem;
  background: white;
}

.maincard .card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.maincard .card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.maincard .card_btn
{
    background: #420908 !important;
    color: white !important;
}

.card:hover{
  transition: 2s;
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  border-bottom: 1px solid #004080;
}